* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
img {
  vertical-align: middle;
}

html,
body {
  font-family: "Titillium Web Regular", sans-serif;
  font-size: calc(0.77em + 0.3vw);
  margin: 0%;
  padding: 0%;
  color: #383f46;
  position: relative;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 2px !important;
  padding: 2px !important;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  color: white;
  z-index: 6;
}

.logo img {
  height: 40px;
}

.logo {
  color: #3f1247;
}

.ink-nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.ink-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-search-btn {
  padding: 0px;
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  box-sizing: border-box;
  /* height: 30px; */
}

.home-search-btn .fa {
  line-height: 0px;
  padding: 0px;
}

.constant-text {
  position: absolute;
  z-index: 0;
  width: 100%;
  color: white;
}

.slider-container .slider {
  height: 400px;
  /* position: relative; */
}
.slider {
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.slider-one {
  background-image: url(../img/bookslide1.jpeg);
}

.slider-two {
  background-image: url(../img/bookslide2.jpg);
}

.slider-three {
  background-image: url(../img/bookslide3.jpg);
}

.slide-overlay {
  height: 100%;
  background-color: rgba(8, 29, 42, 0.65);
  /* background-color: black */
}

.search-input::placeholder {
  font-weight: lighter;
}

.slide-content {
  position: relative;
  bottom: -70%;
}

.slides-dot {
  position: absolute;
  bottom: -110% !important;
  right: 3%;
}

.slide-icon img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.slide-icon strong {
  position: relative;
  top: -4px;
}

.slider-view {
  overflow-x: hidden !important;
  width: 100%;
  pointer-events: none !important;
}

.slider-maxprarent {
  width: 300%;
  position: relative;
  z-index: -5;
  animation: sliderHome 35s infinite;
  pointer-events: none !important;
}

.slides-dot i:first-child {
  color: var(--primary-color-light);
  animation: firstdot 35s infinite;
}

.slides-dot i:nth-child(2) {
  color: white;
  animation: seconddot 35s infinite;
}

.slides-dot i:nth-child(3) {
  color: white;
  animation: thirddot 35s infinite;
}

.nav-menu-mobile-header {
  display: flex;
  justify-content: space-between;
}

.nav-mobile-link-container li {
  padding: 10px;
  border-bottom: 1px solid #e1dce2;
  /* background-color: #dfdbe0; */
  border-radius: 10px;
  margin-top: 15px;
}

.show-mobile-nav {
  animation: showNav 0.8s ease-in-out forwards;
}

.close-mobile-nav {
  animation: closeNav 0.8s ease-in-out forwards;
}

.mobile-nav-icon-close {
  color: #5d656d;
}

.book_thumb img {
  width: 100%;
  position: relative;
  top: -40px;
  box-shadow: -6px 6px 5px 0px rgb(212, 212, 212);
  border-radius: 6px;
}

.preview {
  background-color: #f7ecf8;
}

.preview-set {
  background-color: #f9f9f9;
}

.ink-welcome-books {
  background-color: #e7eaec;
}

.preview-author img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.first-curve {
  background-color: var(--primary-color-light);
  border-top-left-radius: 50px;
}

.second-curve {
  background-color: #e7eaec;
  border-top-left-radius: 50px;
  color: black;
}

.second-curve-cont {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.book-show-cont {
  width: 95%;
  scroll-snap-align: start;
}

.site-show {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  overflow: -moz-scollbars-none;
}

.site-show::-webkit-scrollbar {
  width: 0 !important;
}

.thumb_img {
  display: block;
  width: 80%;
  height: 130px;
}

.top-pick-book {
  display: grid;
  grid-template-columns: repeat(10, 32%);
  grid-gap: 8px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  overflow: -moz-scollbars-none;
}
.top-pick-book::-webkit-scrollbar {
  width: 0 !important;
}

.top-pick-book > div {
  scroll-snap-align: start;
}

.list-cats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  scroll-snap-type: x mandatory;
  overflow: -moz-scollbars-none;
  background-color: rgb(41, 6, 49);
}

.list-cats div {
  height: 90px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
}
.cat-overlay {
  padding: 20px;
}
.romance-cat-icon {
  background-image: url(../img/cats_thumb/cat_romance.jpg);
}

.comedy-cat-icon {
  background-image: url(../img/cats_thumb/cat_comedy.jpg);
}
.scifi-cat-icon {
  background-image: url(../img/cats_thumb/cat_scifi.jpg);
}

.teen-cat-icon {
  background-image: url(../img/cats_thumb/cat_teen.jpg);
}

.magic-cat-icon {
  background-image: url(../img/cats_thumb/cat_magical.jpg);
}

.sports-cat-icon {
  background-image: url(../img/cats_thumb/cat_sports.jpg);
}

.history-cat-icon {
  background-image: url(../img/cats_thumb/cat_history.jpg);
}

.war-cat-icon {
  background-image: url(../img/cats_thumb/cat_war.png);
}

.all-cat-icon {
  background-image: url(../img/cats_thumb/cat_grid.jpg);
}

.ink-cmu {
  background-color: white;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  border-radius: 10px;
  /* box-shadow: 0px 0px 5px 2px rgb(221, 221, 221); */
}

.ink-cmu-1 {
  background-image: url(../img/site_img/community-hero.png);
}
.ink-cmu-2 {
  background-image: url(../img/site_img/community-regist.png);
}

.ink-cmu-cont {
  position: absolute;
  bottom: 0px;
  background-color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    white 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0.952) 55%,
    rgba(255, 255, 255, 0.911) 60%,
    rgba(255, 255, 255, 0.849) 65%,
    rgba(255, 255, 255, 0.671) 80%,
    rgba(255, 255, 255, 0.568) 85%,
    rgba(255, 255, 255, 0.493) 87%,
    rgba(255, 255, 255, 0.377) 89%,
    rgba(255, 255, 255, 0.247) 90%,
    rgba(255, 255, 255, 0.178) 95%,
    transparent 100%
  );
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 0px 0px 10px 10px;
}

.ink-cmu h4 {
  padding-top: 40px !important;
  /* font-weight: normal; */
}

.ink-cmu .slide-overlay {
  background-color: rgba(8, 29, 42, 0.438);
  border-radius: 10px;
}

.top-view img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.new-book-preview {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.like-comment {
  display: inline-block;
  border-radius: 15px;
  color: #6b737c;
  background-color: rgba(0, 0, 0, 0.1);
}

.new-book-img {
  width: 35%;
  padding: 10px;
  position: relative;
}

.new-book-desc {
  width: 65%;
}

.new-book-img img {
  position: relative;
  width: 100%;
}

#footer {
  background-color: #e3e6e9;
}

#header-dark {
  background-color: var(--primary-color);
  box-shadow: 0px 5px 15px 0px rgba(46, 61, 73, 0.247);
}

.reg-cont {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 100px !important;
}

.t-title {
  font-weight: normal !important;
}

.h-line {
  border: none;
  width: 20%;
  background-color: var(--primary-color);
}

.hr-separator {
  width: 80%;
  height: 1px;
  background-color: #dbe2e8;
  border: none;
  margin: 20px 0;
}

.hr-separator-text {
  margin: 0 10px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  min-width: 32px;
}

#header-light {
  background-color: var(--gray-color);
  box-shadow: 0px 5px 15px 0px rgba(46, 61, 73, 0.247);
}

.tab {
  background-color: var(--gray-color);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--primary-color-theme);
}
.middle-tab {
  height: 80px !important;
  width: 80px !important;
  border-radius: 100% 100%;
  background-color: var(--dark-gray-color);
  color: var(--primary-color);
  /* background-color: red; */
}

.cat-user {
  background-color: rgb(243, 243, 243);
}

.cat-img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 3px solid var(--white-color);
  box-shadow: 0px 0px 0px 2px #3f124780;
  /* position: relative; */
}

.cat-img::after {
  content: ".sdflkhlkhjlkhlkjh";
  position: relative;
  background-color: red;
  padding: 0px;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  z-index: 10;
}

.cat-img img {
  width: 100%;
  height: 100%;
  filter: blur(1px);
}
#account_footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.add-icon {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 13px;
  background-color: white;
  box-shadow: 0px 0px 3px gray;
  right: -6px;
  top: 45px;
  color: var(--primary-color);
}

.cat-user {
  overflow: -moz-scollbars-none;
}

.cat-user::-webkit-scrollbar {
  width: 0 !important;
}

.f-feed-image {
  position: relative;
  /* top: 0px; */
}

.f-feed-image img {
  background-color: white;
  padding: 4px;
  background-color: color;
  box-shadow: 0px 0px 3px gray;
  border-radius: 6px;
  width: 100%;
  height: 120px;
}

.first-feed {
  position: relative;
  box-shadow: 0px 0px 3px gray;
  /* padding: 10px; */
}

.feed-cont {
  position: absolute;
  bottom: 0px;
  background-color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    white 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0.952) 55%,
    rgba(255, 255, 255, 0.911) 60%,
    rgba(255, 255, 255, 0.849) 65%,
    rgba(255, 255, 255, 0.671) 80%,
    rgba(255, 255, 255, 0.568) 85%,
    rgba(255, 255, 255, 0.493) 87%,
    rgba(255, 255, 255, 0.377) 89%,
    rgba(255, 255, 255, 0.247) 90%,
    rgba(255, 255, 255, 0.178) 95%,
    transparent 100%
  );
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.book-wallpaper {
  height: 200px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.book-wp1 {
  background-image: url(../img/bookslide1.jpeg);
}

.book-wp2 {
  background-image: url(../img/bookslide2.jpg);
}

.feed-s-item img {
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 14px 2px rgba(34, 34, 34, 0.08),
    0 7px 10px 1px rgba(34, 34, 34, 0.1);
  box-shadow: 0 3px 14px 2px rgba(34, 34, 34, 0.08),
    0 7px 10px 1px rgba(34, 34, 34, 0.1);
}
/* .cat-slide button{
  display: block;
} */

.book_thumb_like {
  position: relative;
  /* top: -20px; */
}

.drop-menu,
.drop-menu li {
  list-style: none;
  margin: 0px;
  display: block;
  padding: 0px;
}

.drop-menu {
  background-color: white;
  left: -110px;
  position: absolute;
  z-index: 1;
  width: 140px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgb(155, 155, 155);
  display: none;
}

.drop-menu-anim {
  display: block;
  animation: dropMenu 0.5s ease-in-out forwards;
}

.drop-menu li {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.account-cats ul,
.account-cats li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.account-cats ul {
  grid-gap: 4px;
}
.account-cats li {
  padding: 4px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
}

.account-cats img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.icon-svg {
  color: #3f1247;
  top: 8px;
  right: 8px;
  font-size: 14px;
}

.book-thumb-blur {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.book-thumb-blur img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transform: scale(1.5);
  filter: blur(4px);
}

.read-book-details {
  transform: translateY(-20%);
}
.read-book-details,
.read-book-details-light {
  background-color: #e5e5e5;
  border-radius: 30px 30px 0px 0px;
}
.read-book-details-light {
  background-color: white;
}

.read-book-thumb {
  text-align: center;
  position: relative;
}

.read-book-thumb img {
  /* width: 100%; */
  width: 100px;
  height: 160px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgb(202, 202, 202);
}

.rating .fa-star {
  color: rgb(235, 201, 8);
}

.action-add {
  color: #3f1247;
  border: 1px solid #e9cbee;
}

.read-book-title {
  bottom: 10%;
}

.badge {
  padding: 0px 4px;
  border-radius: 6px;
  background-color: white;
}

.thumb-img {
  left: 0px;
  transform: translateY(-50%);
}

.h-line-theme {
  border: none;
}

.preview-title {
  bottom: 50px;
  text-align: center;
  position: relative;
}
.preview-section {
  position: relative;
  top: -40px;
}

.actions-like-comment {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  margin: auto;
}

.super_counter {
  counter-reset: section;
  list-style: none;
  margin: 0px;
  padding: 0px;
  /* margin-left: 20px; */

}
.super_counter li{
  margin: 0px;
  padding: 10px;
  margin-bottom: 6px;
  background-color: rgb(233, 233, 233);
}
.super_counter li::before {
  counter-increment: section;
  content: counter(section) ;
  display: inline-block;
  color: white;
  background: #555;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  text-align: center;
}


.table_content_heading{
  border-bottom: 1px dashed rgb(184, 184, 184);
}

.font-family, .font-size{
  background-color: rgb(243, 243, 243);

}


.reader-settings-icons >*{
  padding: 6px;
  border-radius: 6px;
}

.read-book-title{
  font-style: italic;
}

.title-name{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  margin: 0px;
  display: inline;
  border-bottom: 1px dashed gray;
}