* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Titillium Web Regular", sans-serif;
  font-size: calc(0.77em + 0.3vw);
  margin: 0%;
  padding: 0%;
  color: #383f46;
  position: relative;
  
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 2px !important;
  padding: 2px !important;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  color: white;
  z-index: 6;
}

.logo img {
  height: 40px;
}

.ink-nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.ink-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-search-btn {
  padding: 0px;
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  box-sizing: border-box;
  /* height: 30px; */
}

.home-search-btn .fa {
  line-height: 0px;
  padding: 0px;
}

.constant-text {
  position: absolute;
  z-index: 0;
  width: 100%;
  color: white;
}

.slider-container .slider {
  height: 400px;
  /* position: relative; */
}
.slider {
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.slider-one {
  background-image: url(../img/bookslide1.jpeg);
}

.slider-two {
  background-image: url(../img/bookslide2.jpg);
}

.slider-three {
  background-image: url(../img/bookslide3.jpg);
}

.slide-overlay {
  height: 100%;
  background-color: rgba(8, 29, 42, 0.65);
  /* background-color: black */
}

.search-input::placeholder {
  font-weight: lighter;
}

.slide-content {
  position: relative;
  bottom: -70%;
}

.slides-dot {
  position: absolute;
  bottom: -110% !important;
  right: 3%;
}

.slide-icon img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.slide-icon strong {
  position: relative;
  top: -4px;
}

.slider-view {
  overflow-x: hidden !important;
  width: 100%;
  pointer-events: none !important;
}

.slider-maxprarent {
  width: 300%;
  position: relative;
  z-index: -5;
  animation: sliderHome 35s infinite;
  pointer-events: none !important;

}

.slides-dot i:first-child {
  color: var(--primary-color-light);
  animation: firstdot 35s infinite;
}

.slides-dot i:nth-child(2) {
  color: white;
  animation: seconddot 35s infinite;
}

.slides-dot i:nth-child(3) {
  color: white;
  animation: thirddot 35s infinite;
}

.nav-menu-mobile-header {
  display: flex;
  justify-content: space-between;
}

.nav-mobile-link-container li {
  padding: 10px;
  border-bottom: 1px solid #e1dce2;
  /* background-color: #dfdbe0; */
  border-radius: 10px;
  margin-top: 15px;
}

.show-mobile-nav {
  animation: showNav 0.8s ease-in-out forwards;
}

.close-mobile-nav {
  animation: closeNav 0.8s ease-in-out forwards;
}

.mobile-nav-icon-close {
  color: #5d656d;
}

.book_thumb img {
  width: 100%;
  position: relative;
  top: -40px;
  box-shadow: -6px 6px 5px 0px rgb(212, 212, 212);
  border-radius: 6px;
}

.preview {
  background-color: #f7ecf8;
}

.preview-set {
  background-color: #f9f9f9;
}

.ink-welcome-books {
  background-color: #e7eaec;
}

.preview-author img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.first-curve {
  background-color: var(--primary-color-light);
  border-top-left-radius: 50px;
}

.second-curve {
  background-color: #e7eaec;
  border-top-left-radius: 50px;
  color: black;
}

.second-curve-cont {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.book-show-cont {
  width: 95%;
  scroll-snap-align: start;
}

.site-show {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  overflow: -moz-scollbars-none;
}

.site-show::-webkit-scrollbar {
  width: 0 !important;
}

.thumb_img {
  display: block;
  width: 80%;
  height: 130px;
}

.top-pick-book {
  display: grid;
  grid-template-columns: repeat(10, 32%);
  grid-gap: 8px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  overflow: -moz-scollbars-none;
}
.top-pick-book::-webkit-scrollbar {
  width: 0 !important;
}

.top-pick-book > div {
  scroll-snap-align: start;
}

.list-cats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  scroll-snap-type: x mandatory;
  overflow: -moz-scollbars-none;
  background-color: rgb(41, 6, 49);
}

.list-cats div {
  height: 90px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
}
.cat-overlay {
  padding: 20px;
}
.romance-cat-icon {
  background-image: url(../img/cats_thumb/cat_romance.jpg);
}

.comedy-cat-icon {
  background-image: url(../img/cats_thumb/cat_comedy.jpg);
}
.scifi-cat-icon {
  background-image: url(../img/cats_thumb/cat_scifi.jpg);
}

.teen-cat-icon {
  background-image: url(../img/cats_thumb/cat_teen.jpg);
}

.magic-cat-icon {
  background-image: url(../img/cats_thumb/cat_magical.jpg);
}

.sports-cat-icon {
  background-image: url(../img/cats_thumb/cat_sports.jpg);
}

.history-cat-icon {
  background-image: url(../img/cats_thumb/cat_history.jpg);
}

.war-cat-icon {
  background-image: url(../img/cats_thumb/cat_war.png);
}

.all-cat-icon {
  background-image: url(../img/cats_thumb/cat_grid.jpg);
}

.ink-cmu {
  background-color: white;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  border-radius: 10px;
  /* box-shadow: 0px 0px 5px 2px rgb(221, 221, 221); */
}

.ink-cmu-1{

  background-image: url(../img/site_img/community-hero.png);
}
.ink-cmu-2{

  background-image: url(../img/site_img/community-regist.png);
}

.ink-cmu-cont {
  position: absolute;
  bottom: 0px;
  background-color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    white 0%,
    rgba(255, 255, 255,1) 0%,
    rgba(255, 255, 255,1) 20%,
    rgba(255, 255, 255, 0.952) 55%,
    rgba(255, 255, 255, 0.911) 60%,
    rgba(255, 255, 255, 0.849) 65%,
    rgba(255, 255, 255, 0.671) 80%,
    rgba(255, 255, 255, 0.568) 85%,
    rgba(255, 255, 255, 0.493) 87%,
    rgba(255, 255, 255, 0.377) 89%,
    rgba(255, 255, 255, 0.247) 90%,
    rgba(255, 255, 255, 0.178) 95%,
    transparent 100%

  );
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 0px 0px 10px 10px;
}

.ink-cmu h4 {
  padding-top: 40px !important;
  /* font-weight: normal; */
}

.ink-cmu .slide-overlay {
  background-color: rgba(8, 29, 42, 0.438);
  border-radius: 10px;
}

.top-view img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.new-book-preview{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.like-comment{
  display: inline-block;
  border-radius: 15px;
  color: #6b737c;
  background-color: rgba(0, 0, 0, 0.1);
}

.new-book-img {
  width:35%;
  padding: 10px;
  position: relative;
}

.new-book-desc{
  width: 65%;
}

.new-book-img img{
  position: relative;
  width: 100%;
}