.first-author-info_wrapper {
  background-color: var(--gray-color);
}

.banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  border-radius: 0% 50% 50% 0%;
  -webkit-border-radius: 0% 50% 50% 0%;
  -moz-border-radius: 0% 50% 50% 0%;
  -ms-border-radius: 0% 50% 50% 0%;
  -o-border-radius: 0% 50% 50% 0%;
}
img.banner-cover {
  width: 100%;
  display: block;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  border-radius: 0% 50% 50% 0%;
  -webkit-border-radius: 0% 50% 50% 0%;
  -moz-border-radius: 0% 50% 50% 0%;
  -ms-border-radius: 0% 50% 50% 0%;
  -o-border-radius: 0% 50% 50% 0%;
  filter: blur(15px);
  -webkit-filter: blur(5px);
}
img.author-img {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.desc_container {
  padding: 0px 10px 10px;
}
.desc_container h4, .desc_container p {
  padding: 0;
  margin: 0;
  line-height: 1.4rem;
}
.desc_container h4 {
  text-transform: capitalize;
}
.desc_container p {
  font-size: 1.1rem;
}

.contact-wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
}
.contact-wrapper a {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  padding: 2px 8px;
  margin: 0;
  font-size: .9em;
  outline: none;
  color: var(--primary-color-dim);
  box-shadow: 0px 0px 2px 0px var(--gray-color-dim),0px 0px 2px 0px var(--gray-color-dim);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
a.follow {
  margin-right: 8px;
}
a.follow i {
margin-right: 6px;
}

.second-author-info_wrapper {
  padding: 15px 10px;
  grid-column-gap: 6px;
  background-color: var(--gray-color);
  box-shadow: 0px -1px 0px 0px var(--dark-gray-color);
}
.second-author-info_wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-author-info_wrapper > div span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background-color: var(--primary-color-dim);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.second-author-info_wrapper > div p {
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  
}
span.book-count, span.follow-count {
  width: 50px;
  height: 50px;
  padding: 10px;
}
span.read-count {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.textarea-wrapper {
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
}
.textarea-wrapper textarea {
  padding: 10px;
  resize: none;
  overflow: auto;
  outline: none;
  font-family: inherit;
  border: 1px solid var(--dark-gray-color);
  box-shadow: inset 2px 2px 5px 0px var(--gray-color),inset -2px -2px 5px 0px var(--gray-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.textarea-wrapper button {
  height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  align-self: center;
}
.textarea-wrapper button:hover {
  background-color: var(--primary-color-dim);
}

.nav-wrapper {
  margin: 20px 0px 15px 0px;
  padding: 10px;
}
.nav-wrapper a {
  /* text-align: center; */
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  color: var(--primary-color-dim);
  outline: none;
  border-bottom: 2px solid var(--dark-gray-color);
}
.nav-wrapper a:hover, .nav-wrapper a:active {
  color: var(--primary-color-light);
  border-bottom: 2px solid var(--primary-color-light);
}
.nav-wrapper a:first-child {
  color: var(--primary-color-light);
  border-bottom: 2px solid var(--primary-color-light);
}
.nav-wrapper a i {
  line-height: normal;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

section.author-book {
  /* padding: 0px 10px; */
}
section.author-book h1 {
  text-transform: capitalize;
  padding: 0px 10px !important;
}

section.author-book .account-wrapper {
  margin-bottom: 30px !important;
}


.author-wall {
  padding: 10px;
}

.author-wall h1 {
  text-transform: capitalize;
  padding: 0 !important;
}
.post-wrapper {
  margin: 20px 0px 40px 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5px;
}
.post-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 2px;
  background-color: var(--primary-color-dim);
}
.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post-desc_container {
  /* background-color: rosybrown; */
}
.post-desc_container p {
  padding: 0 !important;
  margin: 0 !important;
}
.post-desc_container p.post-date {
  text-align: end;
  width: 90%;
  margin: 8px 0px !important;
  font-size: .82rem;
  font-style: italic;
  color: var(--gray-color-dim);
}

section.author-following {
  padding: 0px 10px;
}
.author-following h1 {
  text-transform: capitalize;
  padding: 0px !important;
  margin-bottom: 20px;
}

.author-following .first-author-info_wrapper {
  background-color: transparent;
  box-shadow: 2px 2px 2px 0px var(--gray-color),-1px -1px 2px 0px var(--dark-gray-color);
}
.author-following .contact-wrapper .follow,
.author-following .contact-wrapper .message{
  box-shadow: none;
  border: 1px solid var(--dark-gray-color);
}