.ts-0 {
    font-size: 0px;
  }
  
  .ts-1 {
    font-size: 1px;
  }
  
  .ts-2 {
    font-size: 2px;
  }
  
  .ts-3 {
    font-size: 3px;
  }
  
  .ts-4 {
    font-size: 4px;
  }
  
  .ts-5 {
    font-size: 5px;
  }
  
  .ts-6 {
    font-size: 6px;
  }
  
  .ts-7 {
    font-size: 7px;
  }
  
  .ts-8 {
    font-size: 8px;
  }
  
  .ts-9 {
    font-size: 9px;
  }
  
  .ts-10 {
    font-size: 10px;
  }
  
  .ts-11 {
    font-size: 11px;
  }
  
  .ts-12 {
    font-size: 12px;
  }
  
  .ts-13 {
    font-size: 13px;
  }
  
  .ts-14 {
    font-size: 14px;
  }
  
  .ts-15 {
    font-size: 15px;
  }
  
  .ts-16 {
    font-size: 16px;
  }
  
  .ts-17 {
    font-size: 17px;
  }
  
  .ts-18 {
    font-size: 18px;
  }
  
  .ts-19 {
    font-size: 19px;
  }
  
  .ts-20 {
    font-size: 20px;
  }
  
  .ts-21 {
    font-size: 21px;
  }
  
  .ts-22 {
    font-size: 22px;
  }
  
  .ts-23 {
    font-size: 23px;
  }
  
  .ts-24 {
    font-size: 24px;
  }
  
  .ts-25 {
    font-size: 25px;
  }
  
  .ts-26 {
    font-size: 26px;
  }
  
  .ts-27 {
    font-size: 27px;
  }
  
  .ts-28 {
    font-size: 28px;
  }
  
  .ts-29 {
    font-size: 29px;
  }
  
  .ts-30 {
    font-size: 30px;
  }
  
  .ts-31 {
    font-size: 31px;
  }
  
  .ts-32 {
    font-size: 32px;
  }
  
  .ts-33 {
    font-size: 33px;
  }
  
  .ts-34 {
    font-size: 34px;
  }
  
  .ts-35 {
    font-size: 35px;
  }
  
  .ts-36 {
    font-size: 36px;
  }
  
  .ts-37 {
    font-size: 37px;
  }
  
  .ts-38 {
    font-size: 38px;
  }
  
  .ts-39 {
    font-size: 39px;
  }
  
  .ts-40 {
    font-size: 40px;
  }
  
  .ts-41 {
    font-size: 41px;
  }
  
  .ts-42 {
    font-size: 42px;
  }
  
  .ts-43 {
    font-size: 43px;
  }
  
  .ts-44 {
    font-size: 44px;
  }
  
  .ts-45 {
    font-size: 45px;
  }
  
  .ts-46 {
    font-size: 46px;
  }
  
  .ts-47 {
    font-size: 47px;
  }
  
  .ts-48 {
    font-size: 48px;
  }
  
  .ts-49 {
    font-size: 49px;
  }
  
  .ts-50 {
    font-size: 50px;
  }
  