.grid {
    display: grid;
    /* padding: 2px; */
  }
  
  .g-gap-2 {
    grid-gap: 2px;
  }
  
  .g-gap-4 {
    grid-gap: 4px;
  }

  .g-gap-6 {
    grid-gap: 6px;
  }

  .g-gap-8 {
    grid-gap: 8px;
  }


  .grid-30-30-30{
    grid-template-columns: repeat(3, 90%);
  }


  .g-col-spread-200 {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  }
  
  .g-col-spread-400 {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
  
  .g-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  

  .g-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  

  .g-col-2-slide {
    grid-template-columns: 55% 45%;
  }
  
  .g-col-3-1 {
    grid-template-columns: 70% 30%;
  }
  .g-col-2-3 {
    grid-template-columns: 40% 60%;
  }

  .g-col-1-3 {
    grid-template-columns: 30% 70%;
  }

  .g-col-1-4 {
    grid-template-columns: 25% 75%;
  }

  .g-col-4-1{
    grid-template-columns: 80% 20%;
  }
  .grid-col-12{
    grid-template-columns: repeat(11, 23%);
  }
  
  
  .justify-center {
    justify-items: center;
  }

  .justify-self-center {
    justify-self: center;
  }
  
  .align-self-center {
    align-self: center;
  }
  
  .flex{
    display: flex;
  }

  .flex-center{
    align-items: center;
  }

  .flex-bottom{
    align-items: flex-end;
  }
  .flex-top{
    align-items: flex-start;
  }
  .flex-space{
    justify-content: space-between;
  }


  .flex-justify-stretch{
    justify-content: stretch;
  }

  .flex-justify-center{
    justify-content: center;
  }

  .flex-item-width{
    flex-basis: 100%;
  }
  /* .top-view{

  } */

 