.form-field {
  width: 100%;
  border: none;
  background-color: var(--input-field-color);
  border-bottom: 2px solid var(--input-field-color);
  box-sizing: border-box;
  outline: none;
  color: var(--primary-color);
  transition: 0.25s all;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  /* border-radius: ; */

  background-clip: padding-box;
}

.form-field:focus {
  border-bottom: 2px solid var(--primary-color);
}
.form-field::placeholder {
  font-size: 14px;
}

.select-field {
  font-size: 14px;
}
.select-field-theme {
  outline: none;
  border: none;
  background-color: rgb(243, 243, 243);
  font-style: inherit;
}
option {
  font-style: inherit !important;
}
.search-input {
  border-radius: 6px;
  padding: 0px;
  background-color: rgb(223, 222, 222);
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  background-color: white;
  padding: 8px;
  outline: none;
}

.search-input:focus {
  border-bottom: none;
}

.form-field-theme {
  border: none;
  outline: none;
}

.read-form {
  border: 1px solid gray;
  border-radius: 10px;
}

.read-font-size {
  width: 60%;
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
}

.search {
  flex-basis: 100%;
  margin-left: 6px !important;
}
